
<div class='grid grid-cols-1 py-9 md:grid-cols-3 bg-gradient-to-r from-indigo-900 to-gray-600  mt-4  px-7 maz-h-24 gap-8 md:gap-3 text-gray-200'>
    <div class='border-b-4 md:border-0 border-gray-400 pb-3'>
        <h1 class='text-3xl mb-3 text-gray-400 '>বিশ্বস্ততার আরেক নাম HISAB</h1>
        <p class='leading-7  md:text-center capitalize text-gray-300'>আপনার দৈনন্দিন জীবনের খরচ এর হিসাব করুন খুব সহজে হিসাব থেকে । তাছাড়া ডাউনলোড এবং সেভ করার সুবিধা তো আছে</p>
    </div>
    <div class='border-b-4 md:text-center md:border-0 border-gray-400 pb-3'>
        <h1 class='text-2xl text-gray-200  mb-2'><span >Menu</span></h1>
        <ul class='uppercase  tetx-xl leading-7'>
            <li><a class='hover:text-gray-300 text-white ' href='/about'>About </a></li>
            <li><a class='hover:text-gray-300 text-white ' href='/contact'>Contct </a></li>
            <li><a class='hover:text-gray-300 text-white ' href='/services'>Services </a></li>
        </ul>
    </div>
    <div>
        <h1 class='text-3xl md:text-center mb-4 text-gray-400'>Contacts</h1>
        <div>
            <ul class='leading-8 text-gray-300'>
                <li>Rupdia Jashore Dhaka Bangladesh</li>
                <li>mazaharul@gmail.com</li>
          
                <li>01797575000</li>
                <li>Maza ltd.</li>
            </ul>
        </div>
    </div>
    
    
        </div>
    